@import "tailwindcss";

@theme inline {
  --color-foreground: var(--foreground);
  --font-comic: "ComicHelvetic", cursive;

  --color-primary: #ffffff;
  --color-primary-hover: #e5e7eb;
  --color-destructive: #ef4444;
  --color-destructive-hover: #dc2626;
  --color-success: #22c55e;
  --color-success-hover: #16a34a;
  --color-inactive: #9ca3af;
  --color-inactive-hover: #6b7280;

  --background-image-sentimental: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(103, 241, 76, 1) 15%,
    rgba(199, 178, 85, 1) 36%,
    rgba(120, 78, 188, 1) 66%,
    rgba(252, 70, 107, 1) 100%
  );
}

@font-face {
  font-family: 'ComicHelvetic';
  src: url('./fonts/comic-helvetic-medium.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'ComicHelvetic';
  src: url('./fonts/comic-helvetic-heavy.otf') format('truetype');
  font-weight: bold;
}

body {
  background-image: var(--background-image-sentimental);
  color: var(--foreground);
  font-family: ComicHelvetic, cursive;
}

@layer components {
  .text-base-comic {
    @apply font-comic text-sm tracking-widest leading-tight;
  }

  .text-large-comic {
    @apply font-comic font-bold text-5xl leading-tight;
  }
}

